#ul1 {
	list-style-image: url("http://www.k19.com.br/figs/star.png");
}

#ul2 {
	list-style-image: url("http://www.k19.com.br/figs/cake.png");
}

#ul3 {
	list-style-image: url("http://www.k19.com.br/figs/flying_heart.png");
}