li:before {
	content: '';
	display: inline-block;
	width: 44px;
	height: 44px;
	vertical-align: middle;
	background-image: url('http://www.k19.com.br/app/webroot/figs/k19-logos-sprite.png');
	background-repeat: no-repeat;
}

li.k12:before {
	background-position: -44px 0px;
}

li.k21:before {
	background-position: -88px 0px;
}

li.k22:before {
	background-position: 0px -44px;
}

li.k23:before {
	background-position: -44px -44px;
}

li.k20:before {
	background-position: -88px -44px;
}